<!DOCTYPE html>
<html lang="en">

<?
    const {title, icon, color, primaryText, secondaryText} = data
?>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NUKIT-<?=title?></title>
    <!-- spectre css -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>


<body>
    <header class="navbar">
        <section class="navbar-section p-2">
            <img src="https://i.ibb.co/bbWFYqt/image.png" width="32px" alt="">
            <span class="navbar-brand mr-2">NUKIT</span>
        </section>
        <section class="navbar-section">
            <a href="tel:+8801521432424" class="btn btn-link">Support</a>
        </section>
    </header>
    <div class="empty">
        <div class="empty-icon">
            <i class="text-<?=color?> icon-4x icon icon-<?=icon?>"></i>
        </div>
        <p class="empty-title h5 text-<?=color?>"><?=primaryText?></p>
        <p class="empty-subtitle"><?=secondaryText?></p>
    </div>
</body>
</html>